<div class = "container-fluid">
  <div class = "col-md-12">
<%= simple_form_for @message do |f| %>
  <%= f.input :title, class: "text-center", label: "Message Title" %>
  <%= f.input :description %>
  <%= f.file_field :video %>
  <%= f.button :submit %>
<% end %>
</div>

</div>
